body {
    margin: 0px;
    padding: 0px;
}

* {
    font-family: Verdana;
    font-size: medium;
}

button, select {
    border: 1px lightgray solid;
    border-radius: 4px;
    cursor: pointer;
    padding: 6px 12px;
}